@model IEnumerable<Modelo.Veterinario>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexVeterinario</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateVeterinario")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cmrv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cmrv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditVeterinario", new { id=item.Id }) |
                @Html.ActionLink("Details", "DetailsVeterinario", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteVeterinario", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
